
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

h1 {
	font-weight: 300;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2em;
	margin: 0;
}

a {
	padding: 1em;
	text-decoration: none;
	color: #ff6600;
	border: 2px solid #ff6600;
	transition: 0.1s ease-in-out background;
	text-align: center;
}

a:hover {
	background: rgba(255,102, 0, 0.1);
}

.half {
	width: 50%;
	height: 100%;
	float: left;
}

#logo {
	background: #ff6600;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	font-weight: 300;
}

#name {
	margin-top: 0.3em;
}

#short-content {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100% - 2em);
}

#short-content a {
	margin-top: 1.4em;
	width: 14em;
}

#intro {
	margin: 0.5em 0;
	text-align: center;
}

#store {
	color: #2E8DEF;
	border: 2px solid #2E8DEF;
}

#store:hover {
	background: rgba(46, 141, 239, 0.1);
}

#info {
	display: block;
	clear: both;
	min-height: calc(100% - 2.5em);
	padding: 2.5em;
	background: #FAFAFA;
}

@media screen and (max-width: 1024px) {
	.half  {
		width: 100%;
	}
}


#image {
	background: url('../img/logo.svg');
	width: 4em;
	height: 4em;
	background-size: contain;
}

#thankyou {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#go-back {
	margin-top: 1em;
}